name: Build and publish

on:
  push:
    branches:
      - main
  tags:
    - "v*"

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Prepare tags
        id: prepare_tags
        run: |
          TAGS="ghcr.io/${{ github.repository_owner }}/stashapp-prometheus-exporter:latest"
          TAGS="$TAGS,ghcr.io/${{ github.repository_owner }}/stashapp-prometheus-exporter:${{ github.sha }}"
          if [[ "${{ github.ref }}" == refs/tags/v* ]]; then
            VERSION="${GITHUB_REF#refs/tags/}"
            TAGS="$TAGS,ghcr.io/${{ github.repository_owner }}/stashapp-prometheus-exporter:$VERSION"
          fi
          echo "tags=$TAGS" >> $GITHUB_OUTPUT
      
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.prepare_tags.outputs.tags }}
          platforms: linux/amd64,linux/arm64
